<a href="https://colab.research.google.com/github/F4069-Ertan/gitclass1/blob/main/31_10_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
input = "Clarusway"
for i in input.lower():
  print(i, end = "-")

c-l-a-r-u-s-w-a-y-

In [2]:
user = {
    "name" : "Daniel",
    "suname" : "Smith",
    "age" : 35
}

In [3]:
user.items()

dict_items([('name', 'Daniel'), ('suname', 'Smith'), ('age', 35)])

In [4]:
a, b, c = 3, 5, 7
c

7

In [7]:
key, value = list(user.items())[0]
print(key)
print(value)

name
Daniel

In [6]:
for key, value in user.items():
  print (key, ":", value)

name : Daniel
suname : Smith
age : 35

In [ ]:
test = [(1, 2), (3, 4), (5, 6)]
for i, j in test:

In [24]:
sayı = int(input("1-10 arası bir sayı girin"))
for a in range(11) :
  print(f"{sayı} x {çarpım} = {sayı * a}")

TypeError: ignored

In [25]:
print(*("Ertan"))

E r t a n

In [29]:
for a in range(1, 10):
  print(a * str(a))

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [36]:
text = ["one", "two", "three", "four", "five", "six"]
numbers = [1, 2, 3, 4, 5, 6]

list(zip(numbers, text))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')]

In [42]:
evens = []
odds = []


for i in range(1, 11):
  if i % 2 == 0:
    evens.append(i)
  else :
    odds.append(i)
print("evens:", evens)
print("odds:", odds)

evens: [2, 4, 6, 8, 10]
odds: [1, 3, 5, 7, 9]

In [44]:
list = [11, 2, 24, 61, 48, 33, 3]
evens = []
odds = []

for i in list:
  if i % 2 == 0:
    evens.append(i)
  else:
    odds.append(i)
print(len(odds))
print(len(evens))

4
3

In [46]:
names = ["susan", "tom", "edward"]
mood = ["happy", "sad"]

for i in names:
  for ii in mood:
    print(i, "is", ii)
  print("napalım yani")

susan is happy
susan is sad
napalım yani
tom is happy
tom is sad
napalım yani
edward is happy
edward is sad
napalım yani

In [47]:
toplam = 0
for i in range(1, 75):
  toplam += i 
print(toplam)

2775